parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#TinyBlocks#'
    - '#in iterable type array#'
    - '#does not accept string#'
    - '#Match expression does not handle#'
    - '#constructor expects array, mixed given#'
  reportUnmatchedIgnoredErrors: false
